---
import ShelfLayout from "../_ShelfLayout.astro";

// ! THIS IS NOT A MISTAKE
// ! NO POCKET BASE SERVER IN PROD
import pb from "libs/pocketbase";

const adminData = await pb.admins.authWithPassword('admin@example.com', 'admin@example.com');
const records = await pb.collection('games').getFullList({sort: 'game_title',});
// console.log(records);
---
<ShelfLayout title="چاه بازی" description="" author="" key_words="" child_url="game">

  

  <div id="shelf-game"class="tc2 shelf flex flex-col">

    <div id="items" class="flex low-gap">
      <p class="a">پلتفرم:</p>
      <a href="/shelf/game/platform/pc/" class="tc5">pc</a>
      <a href="/shelf/game/platform/psx/" class="tc5">psx</a>
      <a href="/shelf/game/platform/xbox/" class="tc5">xbox</a>
      <a href="/shelf/game/platform/other/" class="tc5">other</a>
    </div>

    <div id="items" class="flex low-gap">
      <p class="a">وضعیت:</p>
      <a href="/shelf/game/state/owned/" class="tc5">دارا</a>
      <a href="/shelf/game/state/wishlist/" class="tc5">خواهان</a>
    </div>

    <div id="items" class="flex low-gap">
      <p class="a">بازیدن:</p>
      <a href="/shelf/game/state/plan/" class="tc5">انتظار</a>
      <a href="/shelf/game/state/playing/" class="tc5">درحال</a>
      <a href="/shelf/game/state/played/" class="tc5">بازونده</a>
      <a href="/shelf/game/state/drop/" class="tc5">پرتاب</a>
    </div>
    
    <div id="items" class="flex low-gap">
      <p class="a">ترین:</p>
      <a href="/shelf/game/rate/best/" class="tc5">بهترین</a>
      <a href="/shelf/game/rate/worst/" class="tc5">بدترین</a>
    </div>


    <div id="items" class="flex low-gap">
      <p class="a">اولیت:</p>
      <a href="/shelf/game/priority/play/" class="tc5">بازیدن</a>
      <a href="/shelf/game/priority/buy/" class="tc5">خریدن</a>
    </div>

    <div id="items" class="flex low-gap">
      <p class="a">بقیه موارد:</p>
      <a href="/shelf/game/critique/" class="tc5">نقد و بررسی</a>
    </div>
  </div>

  <div id="posts" class="flex flex-wrap high-gap">
    
    {records.map((post)=>(
      <div id="post" class="tc2 flex flex-col jcontent-center aitems-center">

        <a href=`/shelf/game/critique/id/${post.id}` class="tc5">{post.game_title}</a>

        <div class="flex low-gap">
          <a href=`/shelf/game/state/${post.game_buy_state}/` class="tc2">{post.game_buy_state}</a> |
          <a href=`/shelf/game/state/${post.game_play_state}/` class="tc2">{post.game_play_state}</a> |
          <a href=`/shelf/game/platform/${post.game_platform}/` class="tc2">{post.game_platform}</a>
        </div>
        
        <div id="post-details" class="flex low-gap">
          {
            (post.game_play_state === "plan") 
            ?<p>{post.release_date} </p> 
            :<p>{post.release_date}</p><p>|</p><p>{post.game_rate}/10</p>
          }
        </div>

      </div>
    ))}
  </div>

</ShelfLayout>

<style>
  .shelf{margin-bottom:2rem;}
  .shelf a,.a,#post a{text-decoration:none;font-size:small;font-weight:bold;}
  .shelf a:hover,#post a:hover{text-decoration:underline;}

  #posts{direction:ltr;}
  
  #post{font-weight: bold;font-size:small;}
  #post a{text-decoration:none;font-size:small;font-weight: bold;}
  #post a:hover{text-decoration:underline;}

  @media(max-width:768px){
    .shelf{
      gap:0.5rem;
    }
    #items{
      gap:1rem;
    }

    #posts{
      flex-direction:column;
      gap:1rem;
      align-items:start;
    }
    #posts #post{
      align-items:start;
    }
  }
  
</style>